/* ============================= */
/* =RESET CSS= */
/* ============================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: CNN, Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  width: 85vw;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
label:hover {
  cursor: pointer;
}

/* ============================= */
/* =HEADER= */
/* ============================= */

.page-header {
  height: 50px;
  width: 100%;
  background: #0c0c0c;
  color: rgb(191, 191, 191);
}
.page-header a {
  color: inherit;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.page-log {
  position: absolute;
  width: 100%;
}
.page-logo img {
  position: relative;
  height: 60px;
  width: 60px;
  z-index: 10000000;
}
.header-left {
  display: flex;
  height: 50px;
}
.header-right {
  height: 50px;
  display: flex;
  align-items: center;
}
.page-nav ul {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0;
  margin-left: 15px;
}

.page-nav ul li {
  margin: 0 0 0 5px;
  text-transform: capitalize;
}

.page-nav ul li::after {
  content: "|";
  margin-left: 5px;
}
.page-nav ul li:last-child::after {
  content: "";
}
.page-nav a:hover {
  color: #fff;
}
/* =Search-field= */
.page-search-field {
  width: 75vw;
  position: absolute;
  right: 35px;
  top: -7px;
  padding: 5px;
  font-size: 16px;
  height: 30px;
  border-radius: 5px;
  display: none;
}
.page-search {
  position: relative;
}
#search-switcher:checked ~ .page-search-field {
  display: block;
}
.search-switcher-label {
  margin: 0 15px;
}
/* =international-edition= */
.international-edition {
  position: relative;

  height: 100%;
  display: flex;
  align-items: center;
}
.international-edition label:hover {
  color: #fff;
}
.internatinal-block {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50px;
  left: -70px;
  padding: 0 15px;
  width: 250px;
  text-align: right;
  box-sizing: border-box;
  display: none;
}
#international-switcher:checked ~ .internatinal-block {
  display: block;
}
.internatinal-block ul {
  border-bottom: 1px solid #bfbfbf;
}

.internatinal-block ul li {
  padding: 15px;
}

.internatinal-block p {
  text-align: right;
  margin: 10px 0 20px 0;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.row-block.flex-box label:nth-of-type(1) {
  margin-right: auto;
}
.confirm {
  background: none;
  color: #bfbfbf;
  border: 1px solid #bfbfbf;
  padding: 0 1em;
  font-weight: 300;
  height: 30px;
  line-height: 28px;
  margin: 15px 0;
}
/* =header-expanded-menu-block= */

.header-expanded-menu-block {
  width: 100vw;

  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}
#expanded-switcher:checked ~ .header-expanded-menu-block {
  display: block;
}
.expanded-top-block {
  padding: 25px;
  width: 90%;
  margin: 0 auto;
}
.expanded-top-block h3 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
}

.expanded-top-block a {
  font-size: 14px;
  font-weight: 300;
  color: #bfbfbf;
  line-height: 1.5;
}
.expanded-top-block ul {
  padding: 0;
}
.expanded-top-block a:hover {
  color: #fff;
}
.wrapper-extended {
  display: flex;
  flex-direction: column;
}
.expanded-bottom-block ul {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 0px;
}
.expanded-bottom-block img {
  width: 30px;
  height: 30px;
}
.expanded-bottom-block {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}
.bottom-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bottom-wrap p {
  margin: 0;
  font-size: 15px;
}
.bottom-wrap label {
  font-size: 15px;
}

/* ============================= */
/* =FOOTER= */
/* ============================= */

.page-footer {
  background: #0c0c0c;
  color: #fff;
  margin-top: 300px;
  padding: 30px 0;
}
.wrapper-footer {
  width: 90%;
  margin: 0 auto;
}

.page-footer a {
  color: #bfbfbf;
}

.page-footer h3 {
  color: #bfbfbf;
}
.page-footer ul {
  padding: 0;
}
.footer-top-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.footer-weather {
  display: flex;
  align-items: center;
}

.footer-weather img {
  margin: 0 10px;
}
.footer-weather p {
  margin: 0;
}
.footer-top-block .search {
  background-color: #262626;
  color: #bfbfbf;
  border: 0;
  width: 320px;
  height: 35px;
  font-size: 16px;
  outline: none;
  padding: 6px 45px 6px 12px;
}
.footer-top-block .search-block label {
  margin-left: -40px;
  font-size: 22px;
}
#international-switcher-footer:checked ~ .internatinal-block-footer {
  display: block;
}

.internatinal-block-footer {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: -300px;
  left: 0px;
  padding: 15px;
  width: 250px;
  text-align: left;
  box-sizing: border-box;
  display: none;
}

.internatinal-block-footer ul {
  border-bottom: 1px solid #bfbfbf;
}
.internatinal-block-footer ul li {
  padding: 7px 0;
}
.inter-footer {
  padding-top: 60px;
  display: flex;
  gap: 3px;
}
